$accentTextColor: #ffffff;
$textColor: #212121;
$textSecondaryColor: #757575;

.ticket-body {
  background:  top left no-repeat #f7f7f7;
  background-size: 100% auto;
  height: auto;
}

.ticket-panel {
  text-align: center;
  width: 420px;
  min-height: 200px;
  //margin: 100px auto 0 auto;
  .row-container {
    padding-top: 5px;
    padding-bottom: 5px;
    display: table;
    width: 100%;
    position: relative;
    clear: both;
  }
  .ui-g {
    .ui-g-12 {
      padding: 25px 40px;

      .ui-button {
        margin-bottom: 20px;
      }
    }
  }

}

.ticket-footer {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: $textSecondaryColor;
}


.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.clear {
  clear: both;
}

@media print {
  body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 11pt;
    zoom: .55;
    color: #333333;
    //margin-top: 1cm;
    //margin-right: 1cm;
    //margin-bottom: 1cm;
    //margin-left: 1cm;
  }

  #ticket-rad {
    float: right;
    padding-left: 5px;
    border: 1px solid black;
  }

  @page {
    size: carta;
    margin: 0.2cm
  }
}


