<div class="page-title">

    <div class="ui-g">
      <div class="ui-sm-6 ui-g-6">
        <h2>Disposición Final</h2>
      </div>

      <div class="ui-sm-6 ui-g-6 text-right">
        <button pButton type="button" label="Aprobar" style="width:auto;margin-bottom:10px;"></button>
        <button pButton type="button" label="Rechazar" style="width:auto;margin-bottom:10px;"></button>
        </div>
    </div>
  </div>

  <div class="ui-g ui-fluid">
    <div class="ui-g-12" >
        <p-panel header="Buscar unidad documental" leftIcon="ui-icon-assignment">
            <form [formGroup]="formBuscar" novalidate>
                <div class="ui-g ui-fluid">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3">
                        <div class="ui-g form-group">
                            <div class="ui-g-12">
                                <label for="tipoDisposicionFinal"><span class="text-danger">*</span>Tipo disposición final</label>
                            </div>
                            <div class="ui-g-12 md-dropdownfield">
                                <p-dropdown [options]="state.tiposDisposicionFinal$ | async | dropdownItem"
                                            id="dependencia"
                                            formControlName="tipoDisposicionFinal"
                                            placeholder="Seleccione"
                                            [autoWidth]="false"
                                            (onBlur)="OnBlurEvents('tipoDisposicionFinal')">
                                </p-dropdown>
                                <div class="ui-message ui-messages-error"
                                    *ngIf="validations.tipoDisposicionFinal">
                                    {{ validations.tipoDisposicionFinal }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-5 ui-lg-5">
                        <div class="ui-sm-12 ui-g-6 ui-lg-6">
                            <div class="ui-g form-group">
                                <div class="ui-g-12">
                                    <label for="sede"><span class="text-danger">*</span>Sede</label>
                                </div>
                                <div class="ui-g-12 md-dropdownfield">
                                    <p-dropdown [options]="state.sedes$ | async | dropdownItem"
                                                id="sede"
                                                formControlName="sede"
                                                placeholder="Seleccione"
                                                [autoWidth]="false"
                                                (onBlur)="OnBlurEvents('sede')">
                                    </p-dropdown>
                                    <div class="ui-message ui-messages-error"
                                        *ngIf="validations.sede">
                                        {{ validations.sede }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-sm-12 ui-g-6 ui-lg-6">
                            <div class="ui-g form-group">
                                <div class="ui-g-12">
                                    <label for="sede"><span class="text-danger">*</span>Dependencia</label>
                                </div>
                                <div class="ui-g-12 md-dropdownfield">
                                    <p-dropdown [options]="state.dependencias | dropdownItem"
                                                id="dependencia"
                                                formControlName="dependencia"
                                                placeholder="Seleccione"
                                                [autoWidth]="false"
                                                (onBlur)="OnBlurEvents('dependencia')">
                                    </p-dropdown>
                                    <div class="ui-message ui-messages-error"
                                        *ngIf="validations.dependencia">
                                        {{ validations.dependencia }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-4 ui-lg-4">
                        <div class="ui-sm-12 ui-g-6 ui-lg-6">
                            <div class="ui-g form-group">
                                <div class="ui-g-12">
                                    <label for="sede">Serie</label>
                                </div>
                                <div class="ui-g-12 md-dropdownfield">
                                    <p-dropdown [options]="state.ListadoSeries | dropdownItemSerie"
                                                id="serie"
                                                formControlName="serie"
                                                placeholder="Seleccione"
                                                [autoWidth]="false"
                                                (onBlur)="OnBlurEvents('serie')">
                                    </p-dropdown>
                                    <div class="ui-message ui-messages-error"
                                        *ngIf="validations.serie">
                                        {{ validations.serie }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-sm-12 ui-g-6 ui-lg-6">
                            <div class="ui-g form-group">
                                <div class="ui-g-12">
                                    <label for="sede">Subserie</label>
                                </div>
                                <div class="ui-g-12 md-dropdownfield">
                                    <p-dropdown [options]="state.ListadoSubseries | dropdownItemSubserie"
                                                id="subserie"
                                                formControlName="subserie"
                                                placeholder="Seleccione"
                                                [autoWidth]="false"
                                                (onBlur)="OnBlurEvents('subserie')">
                                    </p-dropdown>
                                    <div class="ui-message ui-messages-error"
                                        *ngIf="validations.subserie">
                                        {{ validations.subserie }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui-g ui-fluid">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3">
                        <div class="ui-g form-group">
                            <div class="ui-g-12">
                                <label for="tipoDisposicionFinal">Identificador unidad documental</label>
                            </div>
                            <div class="ui-g-12 md-dropdownfield">
                                <input type="text" pInputText id="identificador" formControlName="identificador" (onBlur)="OnBlurEvents('identificador')" />
                                <div class="ui-message ui-messages-error"
                                    *ngIf="validations.identificador">
                                    {{ validations.identificador }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-5 ui-lg-5">
                        <div class="ui-sm-12 ui-g-6 ui-lg-6">
                            <div class="ui-g form-group">
                                <div class="ui-g-12">
                                    <label for="sede">Nombre unidad documental</label>
                                </div>
                                <div class="ui-g-12 md-dropdownfield">
                                    <input type="text" pInputText id="nombreUnidadDocumental" formControlName="nombre" (onBlur)="OnBlurEvents('nombre')"/>
                                    <div class="ui-message ui-messages-error"
                                        *ngIf="validations.nombre">
                                        {{ validations.nombre }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-sm-12 ui-g-6 ui-lg-6">
                            <div class="ui-g form-group">
                                <div class="ui-g-12">
                                    <label for="sede">Descriptor 1</label>
                                </div>
                                <div class="ui-g-12 md-dropdownfield">
                                    <input type="text" pInputText id="descriptor1" formControlName="descriptor1" (onBlur)="OnBlurEvents('descriptor1')"/>
                                    <div class="ui-message ui-messages-error"
                                        *ngIf="validations.descriptor1">
                                        {{ validations.descriptor1 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-4 ui-lg-4">
                        <div class="ui-sm-12 ui-g-6 ui-lg-6">
                            <div class="ui-g form-group">
                                <div class="ui-g-12">
                                    <label for="sede">Descriptor 2</label>
                                </div>
                                <div class="ui-g-12 md-dropdownfield">
                                    <input type="text" pInputText id="descriptor2" formControlName="descriptor2" (onBlur)="OnBlurEvents('descriptor2')"/>
                                    <div class="ui-message ui-messages-error"
                                        *ngIf="validations.descriptor2">
                                        {{ validations.descriptor2 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-sm-12 ui-g-6 ui-lg-6">
                            <div class="ui-g form-group">
                                <div class="ui-g-12 md-dropdownfield">
                                    <button pButton label="Limpiar" style="width:auto;margin-left:5px;margin-top:20px;float:right;" type="button" (click)="ResetForm()" ></button>
                                    <button pButton label="Listar" style="width:auto;margin-left:5px;margin-top:20px;float:right;" type="button" (click)="state.Listar()" [disabled]="formBuscar.invalid"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </p-panel>

        <br/>

        <p-panel header="Aprobar disposición final" leftIcon="ui-icon-assignment">
            <div class="ui-g ui-fluid">
                <div class="ui-sm-12 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <label for="sede">Ejecutar selección</label>
                        </div>
                        <div class="ui-g-12 md-dropdownfield">
                            <p-dropdown
                                        id="ejecutarSeleccion"
                                        placeholder="Seleccione"
                                        [autoWidth]="false">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="ui-sm-12 ui-g-3 ui-lg-3">
                    <button pButton label="Ejecutar" style="width:auto;margin-left:5px;margin-top:20px;" type="button"></button>
                </div>
            </div>

            <div class="ui-g ui-fluid" style="margin-bottom: 16px">
                <div class="ui-sm-12 ui-g-12 ui-lg-12">
                    <p-dataTable
                        [paginator]="true"
                        [rows]="10"
                        [responsive]="true"
                        [value]="state.ListadoUnidadDocumental"
                        dataKey="dependencia"
                        [(selection)]="state.unidadesSeleccionadas"
                        [headerCheckboxToggleAllPages]="true"
                        [stacked]="stacked"
                        emptyMessage="No hay resultados que mostrar">
                        <p-column field="subserie" header="Nombre serie/subserie" [sortable]="true"></p-column>
                        <p-column field="codigoUnidadDocumental" header="Identificador unidad documental" [sortable]="true"></p-column>
                        <p-column field="nombreUnidadDocumental" header="Nombre unidad documental" [sortable]="true"></p-column>
                        <p-column field="descriptor1" header="Descriptor 1" [sortable]="true"></p-column>
                        <p-column field="descriptor2" header="Descriptor 2" [sortable]="true"></p-column>
                        <p-column field="faseArchivo" header="Fase archivo" [sortable]="true"></p-column>
                        <p-column field="inactivo" header="Estado">
                            <ng-template let-col="rowData" let-i="rowIndex" pTemplate="body">
                              {{i | toActiveString}}
                            </ng-template>
                          </p-column>
                        <p-column field="fechaExternaInicial" header="Fecha externa inicial" [sortable]="true"></p-column>
                        <p-column field="fechaExternaFinal" header="Fecha externa final" [sortable]="true"></p-column>
                        <p-column field="fechaCierreTramite" header="Fecha cierre tramite" [sortable]="true"></p-column>
                        <p-column field="soporte" header="Soporte" [sortable]="true"></p-column>
                        <p-column header="Consultar unidad conservación" [style]="{'width':'120px','text-align':'center'}">
                            <ng-template let-col="rowData" let-i="rowIndex" pTemplate="body">
                              <button type="button" pButton label="Ver" (click)="state.GetDetalleUnidadUnidadDocumental(i)"
                                      class="ui-button ui-button-icon ui-button-success"
                              ></button>
                            </ng-template>
                        </p-column>
                        <p-column  header="Disposición" [sortable]="true"></p-column>
                        <p-column  header="Aprobado/Rechazado" [sortable]="true"></p-column>
                        <p-column  header="Notas" ></p-column>

                    </p-dataTable>
                </div>
            </div>
        </p-panel>
    </div>
</div>

<p-dialog
    [visible]="state.AbrirDetalle | async"
    modal="modal"
    [responsive]="true"
    [closable]="true"
    positionTop="20"
    [style]="{'position':'absolute'}"
    [width]="800"
    (onHide)="state.CerrarDetalle()">
    <p-header>
    </p-header>
    <app-detalle-unidad-conservacion [state]="state"></app-detalle-unidad-conservacion>
</p-dialog>
