<div class="ui-fluid">
  <div class="comunicacion-detalles">
    <p-tabView [activeIndex]="tabIndex" [lazy]="true" (onChange)="onTabChange($event)">
      <p-tabPanel header="Datos generales" leftIcon="ui-icon-assignment">
        <app-detalles-datos-generales [comunicacion]="comunicacion"
                                      [constantesList]="constantes"></app-detalles-datos-generales>
      </p-tabPanel>

      <p-tabPanel header="Datos remitente" leftIcon="ui-icon-assignment">
        <app-detalles-datos-remitente [remitente]="remitente$ | async"
                                      [contactos]="contactos$ | async"
                                      [constantesList]="constantes"></app-detalles-datos-remitente>
      </p-tabPanel>

      <p-tabPanel header="Datos destinatario" leftIcon="ui-icon-assignment">
        <app-detalles-datos-destinatario [destinatarios]="destinatarios$ | async"
                                         [constantesList]="constantes"></app-detalles-datos-destinatario>
      </p-tabPanel>
      <p-tabPanel header="Vista previa del documento" leftIcon="ui-icon-assignment" no-padding>
        <div style="overflow-y: scroll;max-height: 700px" *ngIf="docSrc">
          <pdf-viewer [src]="docSrc" [show-all]="true" [zoom]="1.5"></pdf-viewer>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
<!--

          [src]="'http://192.168.1.81:28080/ecm-integration-services/apis/ecm/descargarDocumentoECM/?identificadorDoc=d126e9fa-bd82-4689-9b96-3f3ca4dcf109'"
-->
