<div class="ui-fluid">
  <div>
    <p-tabView [activeIndex]="tabIndex">
      <p-tabPanel header="Datos generales" leftIcon="ui-icon-assignment">
        <app-detalles-datos-generales></app-detalles-datos-generales>
        <!--<pdf-viewer
          [src]="'http://192.168.1.81:28080/ecm-integration-services/apis/ecm/descargarDocumentoECM/?identificadorDoc=ff9182bb-871d-49a3-9a3f-65c715ea2056'"
          [show-all]="true" [original-size]="false" style="display: block;">
        </pdf-viewer>-->
      </p-tabPanel>

      <p-tabPanel header="Datos remitente" leftIcon="ui-icon-assignment">

      </p-tabPanel>

      <p-tabPanel header="Datos destinatario" leftIcon="ui-icon-assignment">

      </p-tabPanel>
    </p-tabView>
  </div>
</div>
