<form [formGroup]="form">
  
      
      <p-panel header="Radicado asociado" [style]="{border: 'none'}">
        
        <div class="ui-g ui-fluid">
  
          <div class="ui-sm-12 ui-g-4 ui-lg-4">
            <div class="ui-g form-group">
              <div class="ui-g-12">
                <label for="fechaRadicacion">Fecha y Hora de radicacion</label>
              </div>
              <div class="ui-g-12">
                <input type="text" pInputText id="fechaRadicacion" formControlName="fechaRadicacion" />
              </div>
            </div>
          </div>
          
          <div class="ui-sm-12 ui-g-4 ui-lg-4">
            <div class="ui-g form-group">
              <div class="ui-g-12">
                <label for="noRadicado">No. Radicado</label>
              </div>
              <div class="ui-g-12">
                <input type="text" pInputText id="noRadicado" readonly formControlName="noRadicado" />
              </div>
            </div>
          </div>
  
          <div class="ui-sm-12 ui-g-4 ui-lg-4"></div>
        
        </div>
      
      </p-panel>
    
    
   
</form>

