
<div class="page-title">
  <h2>Entrada Comunicaciones Oficiales</h2>
  <h3>Radicación Completa</h3>
  <div class="page-buttons">
    <button pButton type="button" label="Guardar" style="width: auto; margin-left: 12px; margin-bottom: 10px"></button>
    <button pButton type="button" label="Radicar" style="width: auto; margin-left: 12px; margin-bottom: 10px"></button>
    <button pButton type="button" label="Candelar" style="width: auto; margin-left: 12px; margin-bottom: 10px"></button>
  </div>
</div>

<p-tabView>
  <p-tabPanel header="Datos generales" leftIcon="ui-icon-check">
    <app-datos-generales></app-datos-generales>
  </p-tabPanel>
  <p-tabPanel header="Datos remitente" leftIcon="ui-icon-edit">
    <app-datos-remitente></app-datos-remitente>
  </p-tabPanel>
  <p-tabPanel header="Datos destinatario" leftIcon="ui-icon-refresh">
    <!--<app-datos-destinatario></app-datos-destinatario>-->
  </p-tabPanel>
</p-tabView>


