<p-dialog [(visible)]="display" modal="true" [responsive]="true"  draggable="false" width="800" styleClass="dialog-auto-with"
          (onHide)="hide()">

  <p-header>
    Datos de direccion
  </p-header>

  <!--Body-->
  <div class="ui-g">
    <form [formGroup]="form">
      <div class="ui-g ui-fluid">
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="tipoVia"><span class="text-danger">*</span> Tipo Via</label>
            </div>
            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="tipoViaSuggestions$ | async | dropdownItem"
                          id="tipoVia"
                          formControlName="tipoVia"
                          placeholder="Seleccione"
                          [autoWidth]="false"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group" style="padding-top: 40px">
            <div class="ui-g-12">
              <span class="md-inputfield">
              <input type="text" pInputText id="noViaPrincipal" formControlName="noViaPrincipal">
              <label for="noViaPrincipal"><span class="text-danger">*</span> No. Via Principal</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="prefijoCuadrante">Prefijo cuadrante</label>
            </div>
            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="prefijoCuadranteSuggestions$ | async | dropdownItem"
                          id="prefijoCuadrante"
                          formControlName="prefijoCuadrante"
                          placeholder="Seleccione"
                          [filter]="true"
                          [autoWidth]="false"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="bis">Bis</label>
            </div>
            <div class="ui-g-12">
              <p-dropdown [options]="bisSuggestons$ | async | dropdownItem"
                          id="bis"
                          formControlName="bis"
                          placeholder="Seleccione"
                          [filter]="true"
                          [autoWidth]="false"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="orientacion">Orientacion</label>
            </div>
            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="orientacionSuggestions$ | async | dropdownItem"
                          id="orientacion"
                          formControlName="orientacion"
                          placeholder="Seleccione"
                          [filter]="true"
                          [autoWidth]="false"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group" style="padding-top: 40px">
            <div class="ui-g-12">
              <span class="md-inputfield">
              <input type="text" pInputText id="noVia" formControlName="noVia">
              <label for="noVia"><span class="text-danger">*</span> No. Via</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="prefijoCuadrante">Prefijo cuadrante</label>
            </div>
            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="prefijoCuadranteSuggestions$ | async | dropdownItem"
                          id="prefijoCuadrante_se"
                          formControlName="prefijoCuadrante_se"
                          placeholder="Seleccione"
                          [filter]="true"
                          [autoWidth]="false"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group" style="padding-top: 40px">
            <div class="ui-g-12">
            <span class="md-inputfield">
            <input type="text" pInputText id="placa" formControlName="placa">
            <label for="placa"><span class="text-danger">*</span> # Placa</label>
            </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="orientacion">Orientacion</label>
            </div>
            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="orientacionSuggestions$ | async | dropdownItem"
                          id="orientacion_se"
                          formControlName="orientacion_se"
                          placeholder="Seleccione"
                          [filter]="true"
                          [autoWidth]="false"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="orientacion">Tipo complemento</label>
            </div>
            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="orientacionSuggestions$ | async | dropdownItem"
                          id="complementoTipo"
                          placeholder="Seleccione"
                          formControlName="complementoTipo"
                          [filter]="true"
                          [autoWidth]="false"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group" style="padding-top: 40px">
            <div class="ui-g-12">
            <span class="md-inputfield">
            <input type="text" pInputText id="complementoAdicional" formControlName="complementoAdicional">
            <label for="placa">Complemento adicional</label>
            </span>
            </div>
          </div>
        </div>

        <div class="ui-g-12" [hidden]="direcciones.length === 0">
          <h4 style="margin: 8px 0 0 15px">Direcciones Agregadas</h4>
          <div class="ui-g-12" style="max-height: 80px; overflow: scroll; margin: 5px 0 0 15px">
            <!--<p-listbox [options]="cities" [(ngModel)]="selectedCities" multiple="multiple" checkbox="checkbox" filter="filter"></p-listbox>-->
            <p *ngFor="let ad of direcciones" style="margin: 3px 0 3px 0">
              {{ad.direccion}}
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!--End Body-->

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" class="ui-button-primary" (click)="addDireccion()" pButton label="Agregar"
        [disabled]="form.invalid"
      ></button>
      <button type="button" class="ui-button-success" (click)="completeRegistration()" pButton label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>
