<form [formGroup]="form">
  <p-panel header="Distribucion" [style]="{border: 'none'}">
    <div class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
        <div style="padding: 20px 0 0 10px">
          <p-checkbox name="fisica"
                      label="Física"
                      formControlName="fisica"
                      id="fisica"
                      binary="true">
          </p-checkbox>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
        <div style="padding: 20px 0 0 10px">
          <p-checkbox name="electronica"
                      label="Electrónica"
                      formControlName="electronica"
                      id="electronica"
                      binary="true">
          </p-checkbox>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
        <div style="padding: 20px 0 0 10px">
          <p-checkbox name="responseToRem"
                      label="Responder a remitente"
                      formControlName="responderRemitente"
                      id="responseToRem"
                      binary="true">
          </p-checkbox>
        </div>
      </div>
    </div>
  </p-panel>
</form>


<datos-destinatario-externo *ngIf="tipoComunicacionSelected && tipoComunicacionSelected.codigo == 'SE'"></datos-destinatario-externo>

<datos-destinatario-interno *ngIf="tipoComunicacionSelected && tipoComunicacionSelected.codigo == 'SI'"></datos-destinatario-interno>
