<form [formGroup]="form">
  <p-panel header="Distribucion" [style]="{border: 'none'}">
    <div class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
        <div style="padding: 20px 0 0 10px">
          <p-radioButton name="distribucion"
                         label="Física"
                         value="física"
                         formControlName="distribucion">
          </p-radioButton>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
        <div style="padding: 20px 0 0 10px">
          <p-radioButton name="distribucion"
                         label="Electrónica"
                         value="eléctronica"
                         formControlName="distribucion">
          </p-radioButton>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
        <div style="padding: 20px 0 0 10px">
          <p-checkbox name="responseToRem"
                      label="Responder a remitente"
                      formControlName="responderRemitente"
                      id="responseToRem"
                      binary="true"
                      *ngIf="hasNumberRadicado">
          </p-checkbox>
        </div>
      </div>
    </div>
  </p-panel>
</form>

<!--<app-datos-remitente  #datosRemitente [editable]="true" [tipoComunicacion]="tipoComunicacionSelected"></app-datos-remitente>-->

<datos-destinatario-externo #datosDestinatarioExterno *ngIf="tipoComunicacionSelected && tipoComunicacionSelected.codigo == 'SE'" [destinatario]="remitenteExterno" [editable]="true" [objTipoComunicacion] = "tipoComunicacionSelected" [responseToRem] = "responseToRem" ></datos-destinatario-externo>

<datos-destinatario-interno #destinatarioInterno *ngIf="tipoComunicacionSelected && tipoComunicacionSelected.codigo == 'SI'" [listaDestinatarios]="listaDestinatariosInternos"></datos-destinatario-interno>
