<form [formGroup]="form">
  <p-panel header="Distribucion" [style]="{border: 'none'}">
    <div class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
        <div style="padding: 20px 0 0 10px">
          <p-radioButton name="distribucion"
                         label="Física"
                         value="física"
                         formControlName="distribucion">
          </p-radioButton>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
        <div style="padding: 20px 0 0 10px">
          <p-radioButton name="distribucion"
                         label="Electrónica"
                         value="eléctronica"
                         formControlName="distribucion">
          </p-radioButton>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
        <div style="padding: 20px 0 0 10px">
          <p-checkbox name="responseToRem"
                      label="Responder a remitente"
                      formControlName="responderRemitente"
                      id="responseToRem"
                      binary="true"
                      *ngIf="hasNumberRadicado">
          </p-checkbox>
        </div>
      </div>
    </div>
  </p-panel>
</form>


<div class="ui-fluid" style="margin-top: 60px">
  <p-dataTable [value]="listaDestinatariosExternos" selectionMode="single"
               [paginator]="true" [rows]="10" [responsive]="true"
               emptyMessage="No se encontraron resultados"
  >
    <p-header>

      <div class="ui-helper-clearfix">
                <span class="ui-panel-title"
                      style="font-size:16px;display:inline-block;margin-top:8px"> Datos de destinatarios externos </span>

              <span style="float: right">
                    <button pButton type="button" label="Agregar" style="width: auto; margin-left: 12px"
                            (click)="showAddDestinatarioExternoPopup()"></button>
              </span>
      </div>

    </p-header>

    <p-column header="Destinantario">
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">
          <div class="ui-g-12" *ngIf="destinatario.tipoDestinatario">
            <span class="table-text-custom">
                {{ destinatario.tipoDestinatario }}
            </span>
          </div>
      </ng-template>
    </p-column>
    <p-column header="Nombre">
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">
          <div class="ui-g-12" *ngIf="destinatario.nombre">
                  <span class="table-text-custom">
                      {{ destinatario.nombre }}
                    </span>

          </div>
      </ng-template>
    </p-column>

    <p-column header="Acciones" [style]="{'width':'100px','text-align':'center'}" *ngIf="editable === true">
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">

        <button type="button" icon="ui-icon-mode-edit" pButton (click)="editDestinatario(i,'EXT')"
                class="amber-btn ui-button ui-button-icon"></button>

        <button type="button" icon="ui-icon-close" pButton (click)="deleteDestinatario(i,'EXT')"
                class="ui-button ui-button-icon ui-button-danger"></button>

      </ng-template>
    </p-column>
  </p-dataTable>
</div>



<div class="ui-fluid" style="margin-top: 60px">


  <p-dataTable [value]="listaDestinatariosInternos" selectionMode="single"
               [paginator]="true" [rows]="10" [responsive]="true"
               emptyMessage="No se encontraron resultados">
    <p-header>

      <div class="ui-helper-clearfix">
                <span class="ui-panel-title"
                      style="font-size:16px;display:inline-block;margin-top:8px"> Datos de destinatarios internos </span>

              <span style="float: right">
                    <button pButton type="button" label="Agregar" style="width: auto; margin-left: 12px"
                            (click)="showAddDestinatarioInternoPopup()"></button>
                </span>
      </div>

    </p-header>

    <p-column header="">
      <ng-template let-contact="rowData" let-i="rowIndex" pTemplate="item">
        <!--<div class="ui-g ui-fluid">-->
        <!---->
        <!--</div>-->
        <div class="ui-sm-12 ui-md-12 ui-g-5 ui-lg-5">
          <div class="ui-g-12" *ngIf="tipoDestinatario">
            <i class="fa ui-icon-contact-mail"></i>
                  <span class="table-text-custom">
                      {{ tipoDestinatario }}
                    </span>

          </div>
        </div>
      </ng-template>
    </p-column>

    <p-column header="Acciones" [style]="{'width':'100px','text-align':'center'}" *ngIf="editable === true">
      <ng-template let-contact="rowData" let-i="rowIndex" pTemplate="item">

        <button type="button" icon="ui-icon-mode-edit" pButton (click)="editContact(i)"
                class="amber-btn ui-button ui-button-icon"></button>

        <button type="button" icon="ui-icon-close" pButton (click)="deleteContact(i)"
                class="ui-button ui-button-icon ui-button-danger"></button>

      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<p-dialog [visible]="destinatarioExternoDialogVisible" [modal]="true" modal="modal" [responsive]="true" positionTop="20"
          (onHide)="hideAddDestinatarioExternoPopup()" [width]="800" [style]="{'overflow': 'scroll','max-height': '100%'}">
  <p-header>
    Destinatario Externo
  </p-header>

  <app-datos-remitentes  #datosRemitentesExterno  tipoComunicacion="EE" [hasDestinatarioPrincipal]="principal" (destinatarioOutput)="addDestinatario($event)"></app-datos-remitentes>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" class="ui-button-primary"
              label="Finalizar" (click)="hideAddDestinatarioExternoPopup()"></button>
      <!--<button pButton type="button" class="ui-button-primary" [disabled]="!datosRemitentes.form.valid"-->
              <!--label="Agregar" (click)="addDestinatarioExterno()"></button>-->
    </div>
  </p-footer>
</p-dialog>

<p-dialog [visible]="destinatarioInternoDialogVisible" modal="modal" [responsive]="true" positionTop="20"
          (onHide)="hideAddDestinatarioInternoPopup()" [width]="800" [height]="auto">
  <p-header>
    Destinatario Interno
  </p-header>

  <app-datos-remitentes #datosRemitentesInterno tipoComunicacion="EI" [hasDestinatarioPrincipal]="principal" (destinatarioOutput)="addDestinatario($event)"></app-datos-remitentes>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" class="ui-button-primary"
              label="Cerrar" (click)="hideAddDestinatarioInternoPopup()"></button>
      <button pButton type="button" class="ui-button-primary"
              label="Agregar" (click)="addDestinatarioInterno()"></button>
    </div>
  </p-footer>
</p-dialog>

<!--<app-datos-remitente  #datosRemitente [editable]="true" [tipoComunicacion]="tipoComunicacionSelected"></app-datos-remitente>-->

<!--<datos-destinatario-externo #datosDestinatarioExterno *ngIf="tipoComunicacionSelected && tipoComunicacionSelected.codigo == 'SE'" [destinatario]="remitenteExterno" [editable]="true" [objTipoComunicacion] = "tipoComunicacionSelected" [responseToRem] = "responseToRem" ></datos-destinatario-externo>-->

<!--<datos-destinatario-interno #destinatarioInterno *ngIf="tipoComunicacionSelected && tipoComunicacionSelected.codigo == 'SI'" [listaDestinatarios]="listaDestinatariosInternos"></datos-destinatario-interno>-->
