<div class="ui-fluid radicar-comunicaciones">
  <app-task-container>
    <div customActions>

      <button pButton type="button" label="Cancelar" style="width: auto; margin-bottom: 10px" *ngIf="!radicacion"
              (click)="abort()"></button>

      <button pButton type="button" label="Guardar" style="width: auto; margin-bottom: 10px" *ngIf="!radicacion"
              (click)="save()"></button>

      <button pButton type="button" label="Actualizar" style="width: auto; margin-bottom: 10px"
              [disabled]="false"
              (click)="actualizarComunicacion()"></button>

    </div>
    <div taskBody>

      <p-tabView [activeIndex]="tabIndex" (onChange)="updateTabIndex($event)">
        <p-tabPanel header="Datos generales" leftIcon="ui-icon-assignment">
          <app-datos-generales-edit  #datosGenerales  [state]="stateGenerales">
          </app-datos-generales-edit>
        </p-tabPanel>

         <p-tabPanel header="Datos remitente" leftIcon="ui-icon-assignment"  >
          <app-datos-remitente-edit #datosRemitente [state]="stateRemitente" ></app-datos-remitente-edit>
        </p-tabPanel>

        <p-tabPanel header="Datos destinatario" leftIcon="ui-icon-assignment" >
          <app-datos-destinatario-edit #datosDestinatario [state]="stateDestinatario">
          </app-datos-destinatario-edit>
        </p-tabPanel>
        <p-tabPanel header="Adjuntar documentos" leftIcon="ui-icon-assignment">
          <div style="overflow-y: scroll;max-height: 700px" *ngIf="HasDocuments()">
            <app-documentos-ecm-list [idDocumentECM]="comunicacion.ppdDocumentoList[0].ideEcm" [versionar]="true"></app-documentos-ecm-list>
          </div>
        </p-tabPanel>

      </p-tabView>
      <div class="ui-g-12" style="margin-top: 10px; margin-bottom: 10px">
        <button pButton type="button" label="Siguiente" style="width: 150px; float: right"
                (click)="openNext()" icon="ui-icon-arrow-forward" *ngIf="tabIndex < 2"
                [disabled]="!IsDisabled()">
        </button>
        <button pButton label="Anterior" style="width: 150px; float: left"
                (click)="openPrev()" icon="ui-icon-arrow-back" *ngIf="tabIndex > 0">
        </button>
      </div>
    </div>
  </app-task-container>
</div>






