<div class="ui-fluid radicar-comunicaciones">
  <app-task-container>
    <div customActions>

      <button pButton type="button" label="Cancelar" style="width: auto; margin-bottom: 10px" *ngIf="!radicacion"
              (click)="abort()"></button>

      <button pButton type="button" label="Guardar" style="width: auto; margin-bottom: 10px" *ngIf="!radicacion"
              (click)="save().subscribe()"></button>

      <button pButton type="button" label="Actualizar" style="width: auto; margin-bottom: 10px"
              [disabled]="!datosGenerales.form.valid || !datosRemitente.form.valid || !datosDestinatario.form.valid"
              (click)="actualizarComunicacion()"></button>

    </div>
    <div taskBody>

      <p-tabView [activeIndex]="tabIndex">
        <p-tabPanel header="Datos generales" leftIcon="ui-icon-assignment">
          <app-datos-generales #datosGenerales [editable]="editable"
                               [mediosRecepcionInput]="mediosRecepcionDefaultSelection$ | async"
                               (onChangeTipoComunicacion)="setTipoComunicacion($event)"></app-datos-generales>
        </p-tabPanel>

        <p-tabPanel header="Datos remitente" leftIcon="ui-icon-assignment">
          <!--<p-tabPanel header="Datos remitente" leftIcon="ui-icon-assignment" [disabled]="!datosGenerales.form.valid" >-->
          <app-datos-remitente #datosRemitente [editable]="editable"></app-datos-remitente>
        </p-tabPanel>

        <p-tabPanel header="Datos destinatario" leftIcon="ui-icon-assignment">
          <!--<p-tabPanel header="Datos destinatario" leftIcon="ui-icon-assignment" [disabled]="!datosRemitente.form.valid">-->
          <app-datos-destinatario #datosDestinatario [editable]="editable"
                                  [tipoDestinatarioDefaultInput]="tipoDestinatarioDefaultSelection$ | async"
                                  [tipoDestinatarioInput]="tipoDestinatarioSuggestions$ | async"
                                  [sedeAdministrativaInput]="sedeDestinatarioSuggestions$ | async"
          ></app-datos-destinatario>
        </p-tabPanel>
      </p-tabView>

    </div>
  </app-task-container>
</div>






