<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>[SUBJECT]</title>
	<style type="text/css">

		p {
			margin:0;
			color:#555;
			font-family:Helvetica, Arial, sans-serif;
			font-size:16px;
			line-height:160%;
		}
		a.link2{
			text-decoration:none;
			font-family:Helvetica, Arial, sans-serif;
			font-size:16px;
			color:#fff;
			border-radius:4px;
		}
		h2{
			color:#181818;
			font-family:Helvetica, Arial, sans-serif;
			font-size:22px;
			font-weight: normal;
		}

	</style>

</head>
<body>
	<table cellpadding="0" width="100%" cellspacing="0" border="0" id="backgroundTable" class='bgBody'>
		<tr>
			<td>

				<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse:collapse;">
					<tr>
						<td class='movableContentContainer'>
							
							<!-- <div class='movableContent'>
								<table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
									<tr height="40">
										<td width="200">&nbsp;</td>
										<td width="200">&nbsp;</td>
										<td width="200">&nbsp;</td>
									</tr>
									<tr>
										<td width="200" valign="top">&nbsp;</td>
										<td width="200" valign="top" align="left">
											<div class="contentEditableContainer contentTextEditable">
												<p ><b>Mr(s) #USER#</b>,</p>
											</div>
										</td>
										<td width="200" valign="top">&nbsp;</td>
									</tr>
									<tr height="25">
										<td width="200">&nbsp;</td>
										<td width="200">&nbsp;</td>
										<td width="200">&nbsp;</td>
									</tr>
								</table>
							</div> -->

							<div class='movableContent'>
								<table cellpadding="0" cellspacing="0" border="0" align="center" width="80%">
									<tr>
										<td width="100%" colspan="3" align="center" style="padding-bottom:10px;padding-top:25px;">
											<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable" >
													<h2 ></h2>
												</div>
											</div>
										</td>
									</tr>
									
										<tr>
											<td  align="justify" style="padding-bottom:5px;">
											<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable" >
													<p ><b>Mr(s) #USER#</b>,</p>
													<br>
													 <p >Adjunto encontrará comunicación oficial enviada por #ORG#.</p>
													 <br>
													 <p>Cordialmente, </p>
												</div>
											</div>
										</td>
										</tr>
										<tr>
											<td valign="top" align="left">
											<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable">
												<br>
												<br>
													<img src='cid:logo' width="140" height='60' alt='Logo'  data-default="placeholder" />
												</div>
											</div>
										</td>
										</tr>
										<tr>
											<td  align="justify" style="padding-bottom:5px;">
											<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable" >
													<br>
													<br>
													<br>
													<br>
													 <p ><b>Nota:</b> Por favor no responda este mensaje ya que es generado automáticamente desde una cuenta no monitoreada.</p>
													 
												</div>
											</div>
										</td>
										</tr>
										
								</table>
							</div>

							<!-- <div class='movableContent'>
								<table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
									<tr>
										<td width="100">&nbsp;</td>
										<td width="400" align="center" style="padding-top:25px;padding-bottom:115px;">
											<table cellpadding="0" cellspacing="0" border="0" align="center" width="200" height="50">
												<tr>
													<td bgcolor="#f7941e" align="center" style="border-radius:4px;" width="200" height="50">
														<div class="contentEditableContainer contentTextEditable">
															<div class="contentEditable" >
																<a class='link2'>Visit our Website</a>
															</div>
														</div>

													</td>
												</tr>
											</table>
										</td>
										<td width="100">&nbsp;</td>
									</tr>
								</table>
							</div> -->


						</td>
					</tr>
				</table>
<!-- END BODY -->

			</td>
		</tr>
	</table>
	<!-- End of wrapper table -->
</body>
</html>
