
<!--<app-ticket-radicado></app-ticket-radicado>-->

<div class="ui-g dashboard">
  <!--<div class="ui-g-12">-->
    <!--<app-pie-chart></app-pie-chart>-->
  <!--</div>-->
  <!--<div class="ui-g-12">-->
    <!--<app-gauge-chart></app-gauge-chart>-->
  <!--</div>-->

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <div class="ui-g card colorbox colorbox-2">
      <div class="ui-g-4">
        <i class="fa ui-icon-assignment-ind"></i>
      </div>
      <div class="ui-g-8">
        <span class="colorbox-name">Reservadas</span>
        <span class="colorbox-count">{{ (reservedTasks$ | async).length }}</span>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <div class="ui-g card colorbox colorbox-3">
      <div class="ui-g-4">
        <i class="fa ui-icon-assignment"></i>
      </div>
      <div class="ui-g-8">
        <span class="colorbox-name">En proceso</span>
        <span class="colorbox-count">{{ (inProgressTasks$ | async).length }}</span>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <div class="ui-g card colorbox colorbox-1">
      <div class="ui-g-4">
        <i class="fa ui-icon-assignment-turned-in"></i>
      </div>
      <div class="ui-g-8">
        <span class="colorbox-name">Completadas</span>
        <span class="colorbox-count">{{ (completedTasks$ | async).length }}</span>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <div class="ui-g card colorbox colorbox-4">
      <div class="ui-g-4">
        <i class="fa ui-icon-assignment-late"></i>
      </div>
      <div class="ui-g-8">
        <span class="colorbox-name">Canceladas</span>
        <span class="colorbox-count">{{ (canceledTasks$ | async).length }}</span>
      </div>
    </div>
  </div>

  <!--<div class="ui-g-12">-->
    <!--<app-pie-grid-chart> </app-pie-grid-chart>-->
  <!--</div>-->

  <div class="ui-sm-12 ui-md-12 ui-g-6 ui-lg-4">
    <div class="ui-g-12">
      <div class="card timeline ui-fluid">
        <div class="ui-g">
          <div class="ui-g-12 margin-bottom text-right">
            <button type="button" label="Recargar" icon="ui-icon-refresh" pButton style="width: 120px"></button>
          </div>
          <div *ngFor="let task of (allTasks$ | async)">
            <div class="ui-g-3">
              <span class="event-time">{{ task.fechaCreada | date }}</span>
              <i class="material-icons" style="color:#009688">&#xE1BC;</i>
            </div>
            <div class="ui-g-9">
              <span class="event-owner" style="color:#009688">{{ task.nombre }}</span>
              <span class="event-text">Lorem ipsun dolor amet</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

 <!--<div class="ui-md-12 ui-g-6 ui-lg-8">-->
    <!--<div class="ui-g">-->
      <!--&lt;!&ndash;<div class="ui-g-12 ui-md-6">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="card overview">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="overview-content clearfix">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="overview-title">Sales</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="overview-badge">+%90</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="overview-detail">$22,650 / week</span>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="overview-footer">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="assets/layout/images/dashboard/sales.svg" style="width: 100%" />&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="ui-g-12 ui-md-6">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="card overview">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="overview-content clearfix">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="overview-title">Views</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="overview-badge">+%60</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="overview-detail">6,520 / day</span>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="overview-footer">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="assets/layout/images/dashboard/views.svg" style="width: 100%" />&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--<div class="ui-g-12 ui-md-6 ui-lg-3">-->
        <!--<div class="">-->
          <!--<div class="ui-g card colorbox colorbox-1">-->
            <!--<div class="ui-g-4">-->
              <!--<i class="material-icons">check_circle</i>-->
            <!--</div>-->
            <!--<div class="ui-g-8">-->
              <!--<span class="colorbox-name">Completadas</span>-->
              <!--<span class="colorbox-count">{{ (completedTasks$ | async).length }}</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="ui-g task-list">-->
          <!--<p-panel header="Tasks">-->
            <!--<ul>-->
              <!--<li>-->
                <!--<p-checkbox binary="true"></p-checkbox>-->
                <!--<span class="task-name">Sales Reports</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<p-checkbox binary="true"></p-checkbox>-->
                <!--<span class="task-name">Pay Invoices</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<p-checkbox binary="true"></p-checkbox>-->
                <!--<span class="task-name">Dinner with Tony</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<p-checkbox binary="true"></p-checkbox>-->
                <!--<span class="task-name">Client Meeting</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<p-checkbox binary="true"></p-checkbox>-->
                <!--<span class="task-name">New Theme</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<p-checkbox binary="true"></p-checkbox>-->
                <!--<span class="task-name">Flight Ticket</span>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</p-panel>-->
        <!--</div>-->
      <!--</div>-->




      <!--<div class="ui-g task-list">-->
        <!--<p-panel header="Tareas reservadas">-->
          <!--<ul>-->
            <!--<li *ngFor="let task of (reservedTasks$ | async)">-->
              <!--<p-checkbox binary="true"></p-checkbox>-->
              <!--<span class="task-name">{{ task.nombre }}</span>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</p-panel>-->
      <!--</div>-->


      <!--<div class="ui-g-12 ui-md-6 ui-lg-3">-->
        <!--<div class="ui-g card colorbox colorbox-3">-->
          <!--<div class="ui-g-4">-->
            <!--<i class="material-icons">report</i>-->
          <!--</div>-->
          <!--<div class="ui-g-8">-->
            <!--<span class="colorbox-name">Reservadas</span>-->
            <!--<span class="colorbox-count">22</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="ui-g-12 ui-md-6 ui-lg-3">-->
        <!--<div class="ui-g card colorbox colorbox-4">-->
          <!--<div class="ui-g-4">-->
            <!--<i class="material-icons">email</i>-->
          <!--</div>-->
          <!--<div class="ui-g-8">-->
            <!--<span class="colorbox-name">Canceladas</span>-->
            <!--<span class="colorbox-count">10</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


    <!--</div>-->

  <!--</div>-->


</div>
