<div class="ui-fluid radicar-comunicaciones">
  <app-task-container>
    <div customActions>

      <button pButton type="button" label="Guardar" style="width: auto; margin-bottom: 10px"
              (click)="guardar()"></button>

      <button pButton type="button" label="Gestionar devolución" style="width: auto; margin-bottom: 10px"
              (click)="gestionarDevolucion()"></button>

      <button pButton type="button" label="Rechazar devolución" style="width: auto; margin-bottom: 10px"
      (click)="rechazarDevolucion()"></button>

    </div>

    <p-panel header="Datos generales devolución" [style]="{ border: 'none'}">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-sm-12 ui-g-3 ui-lg-3" [formGroup]="form">
            <div class="ui-g form-group">
              <div class="ui-g-12">
                <label for="numeroRadicado">Número de radicado</label>
              </div>
              <div class="ui-g-12">
                <input type="text" pInputText id="numeroRadicado" formControlName="nroRadicado">
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-panel>

      <p-dialog [(visible)]="barCodeVisible" modal="modal" [responsive]="true" [contentStyle]="{'overflow':'visible'}"
                (onHide)="hideTicketRadicado()">
        <app-ticket-radicado id="ticket" #ticketRadicado

        ></app-ticket-radicado>

        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button pButton type="button" class="ui-button-primary" [printelement]="'ticket'" printDirective
                    [inlineStyles]="printStyle" label="Imprimir"></button>
          </div>
        </p-footer>

      </p-dialog>

  </app-task-container>
</div>






