<div class="ui-fluid gestionar-devoluciones">
  <app-task-container>
    <div customActions>

      <button pButton type="button" label="Guardar" style="width: auto; margin-bottom: 10px"
              (click)="guardar()"></button>

      <button pButton type="button" label="Gestionar devolución" style="width: auto; margin-bottom: 10px"
              (click)="gestionarDevolucion()"></button>

      <button pButton type="button" label="Rechazar devolución" style="width: auto; margin-bottom: 10px"
      (click)="rechazarDevolucion()"></button>

    </div>
    <div taskBody>
    <p-panel header="Datos generales devolución" [style]="{ border: 'none'}">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-sm-12 ui-g-3 ui-lg-3" [formGroup]="form">
            <div class="ui-g form-group">

              <div class="ui-g-12">
                  <span class="md-inputfield">
                    <input type="text" pInputText id="nroRadicado" readonly formControlName="nroRadicado">
                    <label style="color: blue">Número de radicado</label>
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
    </div>
  </app-task-container>
</div>






