$primaryColor: #757575;
$primaryDarkColor: #424242;
$primaryLightColor: #EEEEEE;
$accentColor: #00bcd4;
$accentDarkColor: #00838f;
$accentLightColor: #4dd0e1;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #9fa8da;
$lightMenuRouterLinkActiveColor: #3F51B5;
$horizontalLightMenuRouterLinkActiveColor: #9fa8da;


@import '../../sass/layout/_layout';
