<!-- Seccion de Adjuntar Dccumentos para archivar -->
<p-panel header="Adjuntar documentos para archivar" [style]="{border: 'none'}">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">

      <p-fileUpload chooseLabel="Buscar"
                    uploadLabel="Subir"
                    cancelLabel="Cancelar"
                    [multiple]="true"
                    customUpload="true"
                    accept="application/pdf"
                    (uploadHandler)="uploadDocuments($event)"
                    (onError)="onErrorUpload($event)"
                    name="file[]"

      ></p-fileUpload>
      <div class="text-right padding-top">
        <button type="button" label="Refrescar" pButton style="width: auto"></button>
      </div>
      <div class="padding-top">
        <p-dataTable  emptyMessage="No se encontraron resultados" selectionMode="multiple"
                      [responsive]="true" [value]="documentosAdjuntos">
          <p-column header="ID" field="idDocumento"></p-column>
          <p-column header="Nombre" field="nombreDocumento"></p-column>
          <p-column >
            <ng-template pTemplate="body" let-col let-row="rowData" let-index="rowIndex">
              <button type="button" pButton label="Ver Detalles" (click)="showDocumento(row.idDocumento)"></button>
              <button type="button" pButton label="Eliminar" (click)="eliminarDocumento(row.idDocumento,index)"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
      <div class="text-right padding-top">
        <button type="button" pButton label="Agregar" class="text-right" style="width: auto"  (click)="agregarAdjuntos()"></button>
      </div>
    </div>
  </div>
</p-panel>
<!-- Fin de Seccion -->

<div  class="ui-g ui-fluid">
  <div class="ui-g-12 padding-top">
    <p-panel header="Documentos para archivar" [style]="{border:'none'}">
      <p-dataTable emptyMessage="No se encontraron resultados" selectionMode="multiple"
                   [paginator]="true" [rows]="10" [responsive]="true" [value]="documentos"
                   (onRowSelect)="toggleDocuments($event,true)" (onRowUnselect)="toggleDocuments($event,false)"
      >
        <p-column [style]="{'width':'50px'}" selectionMode="multiple" >

        </p-column>
        <p-column header="Fecha y hora de archivo" [sortable]="true" >
          <ng-template let-col let-row="rowData" pTemplate="body">
            {{row.fechaCreacion | date:'dd/MM/yyyy HH:mm'}}
          </ng-template>
        </p-column>
        <p-column header="Identificador de documento" [sortable]="true" >
          <ng-template let-col let-row="rowData" pTemplate="body">
            <input type="text" pInputText *ngIf="!row.isAttachment" (blur)="updateDocumentMeta(index,'identificador')" [(ngModel)]="idDocumento" />
            <div *ngIf="row.isAttachment" >
              {{row.identificador}}
            </div>
          </ng-template>
        </p-column>
        <p-column header="Nombre/asunto documento" [sortable]="true" >
          <ng-template let-col let-row="rowData" pTemplate="body" let-index="rowIndex">
            <input type="text" pInputText *ngIf="!row.isAttachment" [value]="row.nombreDocumento" (blur)="updateDocumentMeta(index,'nombreDocumento')" [(ngModel)]="nombreDocumento"/>
            <div *ngIf="row.isAttachment" >
              {{row.nombreDocumento}}
            </div>
          </ng-template>
        </p-column>
        <p-column header="Ver" >
          <ng-template pTemplate="body" let-col let-row="rowData" pTemplate="body">
            <a href="" (click)="ShowDocument(row.idDocumento)" >Ver</a>
          </ng-template>
        </p-column>
        <p-column header="Tipologia Documental" >
          <ng-template pTemplate="body">
            <p-dropdown [options]="[]" placeholder="Seleccione" ></p-dropdown>
          </ng-template>
        </p-column>

      </p-dataTable>
    </p-panel>
    <div class="text-right">
      <p-confirmDialog #cd>
        <p-footer>
          <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
          <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
        </p-footer>
      </p-confirmDialog>
      <div class="padding-top">
        <button type="button" label="Archivar Documentos" pButton style="width:auto" (click)="confirmArchivarDocumentos()"></button>
      </div>
    </div>
  </div>
  <div class="ui-g-12 padding-top">
    <app-lista-documentos-archivados ></app-lista-documentos-archivados>
  </div>
</div>

<p-dialog [visible]="documentPreview" modal="modal" [responsive]="true" positionTop="20"
          (onHide)="hidePdf()" [width]="1024">
  <p-header>
    Visor de PDF
  </p-header>

  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-g-12 ui-lg-12">
      <app-documentos-ecm-list [(idDocumentECM)]="idEcm" [versionar] = "false" ></app-documentos-ecm-list>
      <!--<div style="overflow-y: scroll;max-height:500px">-->
      <!--<pdf-viewer [src]="documentPreviewUrl" [show-all]="true" [zoom]="1.5"-->
      <!--(after-load-complete)="afterLoadComplete($event)"-->
      <!--&gt;</pdf-viewer>-->
      <!--</div>-->
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" label="Cerrar" style="width: auto; margin-bottom: 10px;margin-left: 12px"
              (click)="hidePdf()"></button>
      <!--<button pButton type="button" label="Descargar" style="width: auto; margin-bottom: 10px;margin-left: 12px"-->
      <!--[disabled]="!documentLoaded"-->
      <!--(click)="downloadPdf()"></button>-->
    </div>
  </p-footer>
</p-dialog>
