<div>
    <cm-uploader></cm-uploader>

    <br />

    <table class="table vertical">
        <thead>
            <tr>
                <th>ID</th><th>Nombre</th><th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of (registros$ | async)">
                <td>{{ record.idCargaMasiva }}</td>
                <td>{{ record.nombreCarga }}</td>
                <td>
                    <button (click)="goToDetails(record.idCargaMasiva)" class="ui-button" >Ver detalles</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
