<div class="ui-fluid">
  <app-task-container>
    <div customActions>
        <button pButton type="button" [disabled]="!(closedTask | async)" label="Cancelar" style="width: auto; margin-bottom: 10px" *ngIf="!radicacion"
        (click)="abort()">
      </button>
        <button pButton type="button" label="Actualizar planilla"
          [disabled]="!canUpdatePlanilla()" (click)="actualizarPlanilla()"
          style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px">
        </button>
        <button pButton type="button" label="Registrar resultado"
           [disabled]="selectedComunications.length == 0" (click)="showEditarPlanillaDialog()"
           style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px">
        </button>
    </div>

    <div taskBody>
        <div class="ui-g-12">
            <div class="card card-w-title">
                <documento-ecm *ngIf="canUpdatePlanilla()" #documentList></documento-ecm>
                <p-panel header="Actualizar planilla" [style]="{border: 'none'}">
                    <div class="ui-g ui-fluid" *ngIf="!(closedTask | async)">
                      <div class="ui-g-12">
                        <p-dataTable emptyMessage="No se encontraron resultados" selectionMode="multiple"
                                    [(selection)]="selectedComunications"
                                    [paginator]="true" [rows]="10" [responsive]="true" [value]="planAgentes" [expandableRows]="true">
                          <p-column selectionMode="multiple" [style]="{'width':'50px'}"></p-column>
                          <p-column header="Detalle" expander="true"></p-column>
                          <p-column field="correspondencia.nroRadicado" header="Número radicado" [sortable]="true"></p-column>
                          <p-column field="fecRadicado" header="Fecha y hora de radicación" [sortable]="true">
                            <ng-template let-col let-data="rowData" pTemplate="body">
                              {{data.correspondencia[col.field] | date:'dd/MM/yyyy hh:mm a'}}
                            </ng-template>
                          </p-column>
                          <p-column field="tipologiaDocumental.nombre" header="Tipología documental" [sortable]="true"></p-column>
                          <p-column field="nombre_razonSocial" header="Nombre / Razón social" [sortable]="true">
                            <ng-template let-col let-data="rowData" pTemplate="body">
                              {{(data.agente.nombre || data.agente.razonSocial)}}
                            </ng-template>
                          </p-column>
                          <p-column field="agente.descDependencia" header="Sede administrativa destino" [sortable]="true"></p-column>
                          <p-column field="agente.descSede" header="Dependencia destino" [sortable]="true"></p-column>
                          <p-column field="descEstado" header="Estado de entrega" [sortable]="true"></p-column>
                          <p-column field="fecCarguePla" header="Fecha entrega" [sortable]="true">
                            <ng-template let-col let-data="rowData" pTemplate="body">
                              {{data.fecCarguePla | date:'dd/MM/yyyy hh:mm a'}}
                            </ng-template>
                          </p-column>
                          <p-column field="varNumeroGuia" header="No. guía" [sortable]="true"></p-column>
                          <p-column field="observaciones" header="Observaciones" [style]="{'width':'120px','text-align':'center'}"  [sortable]="true"></p-column>
                          <template let-data pTemplate="rowexpansion">
                            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                              <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                  <div class="ui-grid ui-grid-responsive ui-grid-pad">
                                      <div class="ui-grid-row">
                                          <div class="ui-grid-col-2 label">Folios: </div>
                                          <div class="ui-grid-col-2">{{data.folios}}</div>  
                                          <div class="ui-grid-col-2 label">Anexos: </div>
                                          <div class="ui-grid-col-2">{{data.anexos}}</div>
                                      </div>
                                      <div class="ui-grid-row">
                                          <div class="ui-grid-col-2 label">País: </div>
                                          <div class="ui-grid-col-2">{{data.nombrePais}}</div>
                                          <div class="ui-grid-col-2 label">Departamento: </div>
                                          <div class="ui-grid-col-2">{{data.nombreDepartamento}}</div>
                                          <div class="ui-grid-col-2 label">Clase envío: </div>
                                          <div class="ui-grid-col-2">{{data.descClaseEnvio}}</div>
                                      </div>
                                      <div class="ui-grid-row">
                                          <div class="ui-grid-col-2 label">Ciudad / Municipio: </div>
                                          <div class="ui-grid-col-2">{{data.nombreCiudadMunicipio}}</div>
                                          <div class="ui-grid-col-2 label">Dirección: </div>
                                          <div class="ui-grid-col-2">{{data.direccion | direccionToText}}</div>
                                          <div class="ui-grid-col-2 label">Modalidad correo: </div>
                                          <div class="ui-grid-col-2">{{data.descModalidadCorreo}}</div>
                                      </div>
                                  </div>
                              </div>
                              </div>
                          </div>
                          </template>
                        </p-dataTable>
                      </div>
                    </div>
                  </p-panel>
             </div>
         </div>
    </div>
  </app-task-container>
</div>
<p-dialog [visible]="editarPlanillaDialogVisible" modal="modal" [responsive]="true" positionTop="20"
          [contentStyle]="{'overflow':'scroll'}"
          (onHide)="hideEditarPlanillaDialog()" [width]="800">
  <p-header>
    Registrar resultado
  </p-header>
  <app-editar-planilla #popupEditar [planilla]="data"></app-editar-planilla>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" class="ui-button-primary"
              label="Cerrar" (click)="hideEditarPlanillaDialog()"></button>
      <button pButton type="button" class="ui-button-primary" [disabled]="!form.valid"
              label="Aceptar" (click)="editarPlanilla()"></button>
    </div>
  </p-footer>
</p-dialog>








