<p>
  productos works!
</p>
<div class="card card-w-title">
  <h1>DataTable</h1>
  <p-dataTable [value]="model.productos" selectionMode="single" [(selection)]="model.selectedProducto" [paginator]="true" [rows]="10" [responsive]="true">
    <p-header>Lista De Productos</p-header>
    <p-column field="id" header="id" [sortable]="true"></p-column>
    <p-column field="nombre" header="name" [sortable]="true"></p-column>
    <p-column field="costo" header="price" [sortable]="true"></p-column>
  </p-dataTable>
</div>