<form [formGroup]="form" name="formDefault">
  <div class="ui-fluid">
    <div class="card card-w-title">
      <h1>Datos Remitente</h1>

      <div class="ui-g ui-fluid" *ngIf="visibility.sedeAdministrativa">
        <div class="ui-sm-12 ui-g-6 ui-lg-6">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="sedeAdministrativa"><span class="text-danger">*</span>Sede administrativa</label>
            </div>
            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="sedeAdministrativaSuggestions$ | async | dropdownItem"
                          id="sedeAdministrativa"
                          formControlName="sedeAdministrativa"
                          placeholder="Seleccione"
                          [filter]="true"
                          [autoWidth]="false"
                          (onBlur)="listenForBlurEvents('sedeAdministrativa')">
              </p-dropdown>

              <div class="ui-message ui-messages-error"
                   *ngIf="validations.sedeAdministrativa">
                {{ validations.sedeAdministrativa }}
              </div>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-g-6 ui-lg-6">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="dependenciaGrupo"><span class="text-danger">*</span>Dependencia / Grupo</label>
            </div>
            <div class="ui-g-12 md-dropdownfield">

              <p-dropdown [options]="dependenciaGrupoSuggestions$ | async | dropdownItem"
                          id="dependenciaGrupo"
                          formControlName="dependenciaGrupo"
                          placeholder="Seleccione"
                          [filter]="true"
                          [autoWidth]="false"
                          (onBlur)="listenForBlurEvents('dependenciaGrupo')"
              >
              </p-dropdown>

              <div class="ui-message ui-messages-error"
                   *ngIf="validations.dependenciaGrupo">
                {{ validations.dependenciaGrupo }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g ui-fluid" *ngIf="visibility.tipoPersona">

        <!--Tipo Persona-->
        <div class="ui-sm-12 ui-g-6 ui-lg-6">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="tipoPersona"><span class="text-danger">*</span>Tipo de persona</label>
            </div>
            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="tipoPersonaSuggestions$ | async | dropdownItem"
                          id="tipoPersona"
                          formControlName="tipoPersona"
                          placeholder="Seleccione"
                          [autoWidth]="false"
                          (onBlur)="listenForBlurEvents('tipoPersona')"
              >
              </p-dropdown>

              <div class="ui-message ui-messages-error"
                   *ngIf="validations.tipoPersona">
                {{ validations.tipoPersona }}
              </div>
            </div>
          </div>
        </div>

        <!--Tipo Documento-->
        <div class="ui-sm-12 ui-g-6 ui-lg-6" *ngIf="visibility.tipoDocumento">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="tipoDocumento"><span class="text-danger">*</span>Tipo documento</label>
            </div>
            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="tipoDocumentoSuggestons$ | async | dropdownItem"
                          id="tipoDocumento"
                          formControlName="tipoDocumento"
                          placeholder="Seleccione"
                          [autoWidth]="false"
                          (onBlur)="listenForBlurEvents('tipoDocumento')"
              >
              </p-dropdown>

              <div class="ui-message ui-messages-error"
                   *ngIf="validations.tipoDocumento">
                {{ validations.tipoDocumento }}
              </div>
            </div>
          </div>
        </div>

        <!--Razon Social-->
        <div class="ui-sm-12 ui-g-6 ui-lg-6" *ngIf="visibility.razonSocial">
          <div class="ui-g form-group" style="padding-top: 40px">
            <div class="ui-g-12">
              <span class="md-inputfield">
              <input type="text" pInputText id="razonSocial" formControlName="razonSocial">
              <label for="razonSocial"><span class="text-danger">*</span>Razon social</label>

                 <div class="ui-message ui-messages-error"
                      *ngIf="validations.razonSocial">
                 {{ validations.razonSocial }}
              </div>
              </span>
            </div>
          </div>
        </div>

        <!--Nit-->
        <div class="ui-sm-12 ui-g-6 ui-lg-6" *ngIf="visibility.nit">
          <div class="ui-g form-group" style="padding-top: 40px">
            <div class="ui-g-12">
              <span class="md-inputfield">
              <input type="text" pInputText id="nit" formControlName="nit">
              <label for="nit">Nit</label>
              </span>
            </div>
          </div>
        </div>

        <!--Actua en Calidad-->
        <div class="ui-sm-12 ui-g-6 ui-lg-6" *ngIf="visibility.actuaCalidad">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="actuaCalidad">Actua en calidad</label>
            </div>
            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="actuaCalidadSuggestions$ | async | dropdownItem"
                          id="actuaCalidad"
                          formControlName="actuaCalidad"
                          placeholder="Seleccione"
                          [filter]="true"
                          [autoWidth]="false"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <!--Nombre y Apellidos-->
        <div class="ui-sm-12 ui-g-6 ui-lg-6" *ngIf="visibility.nombreApellidos">
          <div class="ui-g form-group" style="padding-top: 40px">
            <div class="ui-g-12">
              <span class="md-inputfield">
              <input type="text" pInputText id="nombreApellidos" formControlName="nombreApellidos">
                <label for="nombreApellidos"><span class="text-danger">*</span>Nombre y Apellidos</label>

                <div class="ui-message ui-messages-error"
                     *ngIf="validations.nombreApellidos">
                {{ validations.nombreApellidos }}
              </div>
              </span>
            </div>
          </div>
        </div>

        <!--Nro Documento Identidad-->
        <div class="ui-sm-12 ui-g-6 ui-lg-6" *ngIf="visibility.nroDocumentoIdentidad">
          <div class="ui-g form-group" style="padding-top: 40px">
            <div class="ui-g-12">
              <span class="md-inputfield">
              <input type="text" pInputText id="nroDocumentoIdentidad" formControlName="nroDocumentoIdentidad">
              <label for="nroDocumentoIdentidad"><span class="text-danger">*</span>No. Documento identidad</label>

                 <div class="ui-message ui-messages-error"
                      *ngIf="validations.nroDocumentoIdentidad">
                    {{ validations.nroDocumentoIdentidad }}
                 </div>
              </span>
            </div>
          </div>
        </div>

        <!--tratamiento de cortesia-->
        <div class="ui-sm-12 ui-g-6 ui-lg-6" *ngIf="visibility.tratamientoCortesia">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="tratamientoCortesia">Tratamiento de cortesía</label>
            </div>
            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="tratamientoCortesiaSuggestions$ | async | dropdownItem"
                          id="tratamientoCortesia"
                          formControlName="tratamientoCortesia"
                          placeholder="Seleccione"
                          [autoWidth]="false"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>


<div *ngIf="visibility.datosContacto">

  <app-datos-direccion #datosContactos [editable]="editable"></app-datos-direccion>

</div>






