<div class="ui-fluid crear-unidad-documental">
  <app-task-container [isActive]="false">
    <div customActions>
      <button pButton type="button" label="Guardar" style="width: auto; margin-bottom: 10px" ></button>
    </div>
    <div taskBody>

      <app-lista-solicitud-crear-ud (changeAction)="selectAction($event)"></app-lista-solicitud-crear-ud>

      <app-no-tramitar-creacion-ud *ngIf="currentAction==$action.noTramiteUD" [solicitud]="solicitudSelected"  (onNoTramitarUnidadDocumental)="actualizarSolicitudesTramitadas()" ></app-no-tramitar-creacion-ud>

      <app-form-crear-unidad-documental *ngIf="currentAction==$action.createUD" [solicitud]="solicitudSelected"  (onCreateUnidadDocumental)="actualizarSolicitudesTramitadas()" ></app-form-crear-unidad-documental>

      <app-ud-tramitadas [solicitudesProcesadas]="solicitudesProcesadas$" ></app-ud-tramitadas>

      <p-dialog header="Alerta" [(visible)]="visiblePopup" modal="modal" >
        <div class="text-center">
          El sistema no encuentra la unidad documental que está buscando. <br>
          Por favor, solicite su creación
        </div>
        <p-footer>
          <button type="button" pButton  (click)="closePopup()" label="Aceptar"></button>
        </p-footer>
      </p-dialog>
    </div>
  </app-task-container>
</div>


