<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
      <div class="ui-g-12">
        <p-dataTable emptyMessage="No se encontraron resultados" selectionMode="multiple"
                     [paginator]="true" [rows]="5" [responsive]="true"
                     [value]="destinatarios">
          <p-header>
            Datos destinatario
          </p-header>
          <p-column header="Tipo destinatario" [sortable]="true" field="indOriginal">
            <ng-template let-col let-agent="rowData" pTemplate="body">
            {{agent[col.field] | constantCode:constantesList}}
            </ng-template>
          </p-column>
          <p-column header="Sede administrativa" [sortable]="true" field="codSede">
            <ng-template let-col let-agent="rowData" pTemplate="body">
              {{agent[col.field] | constantCode:constantesList}}
            </ng-template>
          </p-column>
          <p-column header="Dependencia/Grupo" [sortable]="true" field="codDependencia">
            <ng-template let-col let-agent="rowData" pTemplate="body">
              {{agent[col.field] | constantCode:constantesList}}
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
