<div class="ui-fluid produccion-documental">
  <app-task-container>
    <div customActions>
      <button pButton type="button" label="Guardar"
              style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px"
              (click)="guardarEstadoTarea()"
      ></button>
      <button pButton type="button" label="Cerrar" *ngIf="task && task.variables || false"
              style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px"
              (click)="cancelarTarea()"
      ></button>
      <button pButton type="button" label="Devolver" *ngIf="status > 1 && task && task.variables || false"
              style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px"
              (click)="devolverDocumento()"

      ></button>
      <button pButton type="button" label="Aprobar" *ngIf="task && task.variables || false"
              style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px"
              [disabled]="!puedeAprobar()"
              (click)="aprobarDocumento()"
      ></button>
      <button pButton type="button" label="Continuar" *ngIf="status === 1 && task && task.variables || false"
              style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px"
              [disabled]="!isValid()"
              (click)="continuarProceso()"
      ></button>
    </div>
    <div taskBody>
      <p-tabView [activeIndex]="tabIndex" (onChange)="tabIndex = $event.index">
        <p-tabPanel header="Datos generales" leftIcon="ui-icon-assignment">
          <pd-datos-generales #datosGenerales></pd-datos-generales>
          <br/>
        </p-tabPanel>
        <p-tabPanel header="Datos destinatario" leftIcon="ui-icon-assignment" [disabled]="!tipoComunicacionSelected">
          <pd-datos-contacto #datosContacto [taskData]="task"></pd-datos-contacto>
        </p-tabPanel>
        <p-tabPanel header="Gestionar producción" leftIcon="ui-icon-assignment">
          <pd-gestionar-produccion #gestionarProduccion [status]="status"></pd-gestionar-produccion>
        </p-tabPanel>
      </p-tabView>
    </div>
  </app-task-container>
</div>


