<div class="page-title">
  <h2>Producción Documental</h2>
</div>

<div class="ui-g ui-fluid">
    <div class="ui-g-12" style="margin: 20px 0">
        <button pButton type="button" label="Cerrar"
                style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px"
                ></button>
        <button pButton type="button" label="Devolver"
                [disabled]="revisar != true"
                style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px"
                ></button>
        <button pButton type="button" label="Aprobar"
                [disabled]="aprobar != true"
                style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px"
                ></button>
        <button pButton type="button" label="Continuar"
                [disabled]="!revisar && !aprobar"
                style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px"
                ></button>
    </div>
</div>

<div class="ui-fluid">

    <p-tabView [activeIndex]="tabIndex" (onChange)="updateTabIndex($event)">

        <p-tabPanel header="Datos generales" leftIcon="ui-icon-assignment">

            <pd-datos-generales></pd-datos-generales> <br/>

        </p-tabPanel>


        <p-tabPanel header="Datos de contacto" leftIcon="ui-icon-assignment">

            <pd-datos-contacto></pd-datos-contacto>

        </p-tabPanel>


        <p-tabPanel header="Gestionar producción" leftIcon="ui-icon-assignment">

            <pd-gestionar-produccion></pd-gestionar-produccion>

        </p-tabPanel>

    </p-tabView>

</div>


